
h1{
  text-align: center;
  margin-right: 20px;
  
  
}

.two{

float: right;

  
  
 
 

}
.two:hover{

  color:#ff4757;
}

.one{

  /*text-align: center;*/

  margin-left: 50px;
  
  

  


}
.one:hover{
  color: #2ed573;
  
}
  
 

